.container {
	text-align: center;
	width: 100%;
	height: 100%;
}

.slide {
	width: 600px;
	height: 400px;
	font-size: 50px;
	border-radius: 3%;
	box-shadow: antiquewhite;
	display: table;
	padding: 0px;
	box-shadow: 0px 0px 5px 1px #7f7f7f;
	background-color: rgb(255, 235, 181);
}

.slide p {
	display: table-cell; 
	vertical-align: middle;
	color: black;
}

#counter {
	color: black;
	font-size: 20px;
}


/* CSS for prev and next buttons */

button {
	background-color: rgb(0, 92, 15);
	color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	font-size: 20px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

button:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(21, 255, 0);
}

.next {
	margin-top: 175px;
	margin-right: 300px;
}

.prev {
	 margin-top: 175px;
	 margin-left: 300px;;
}

/* CSS to flip study card */

.scene {
	width: 100%;
	perspective: 3000px;
	height: 400px;
	display: grid;
	grid-template-columns: 1fr 600px 1fr;
	justify-items: center;
}

.card {
	transition: transform 1s;
	transform-style: preserve-3d;
	position: relative;
  }

  .is-flipped {
	transform: rotateY(180deg);
  }

  .card__face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .card__face--back {
	transform: rotateY( 180deg );
}